<!-- emailTemplate.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Template</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #f8f9fa;
    }

    .container {
      max-width: 900px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    img {
      max-width: 900px;
      height: 500px;
      border-radius: 8px;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      background-color: #007bff;
      color: #ffffff;
      border-radius: 4px;
    }
  </style>
</head>

<body>

  <div class="container"  style=" background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);">
    <img src="/images/emailerror.png" alt="Email Image">
    
    <p>ERROR</p>
    <a href="/employerlogin/employerloginhandler" class="button">about</a>
  </div>

</body>

</html>
